<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <!-- CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/fontawesome.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">

    <!-- Javascript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/js/all.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="../static/js/char.js"></script>
    <script src="../static/js/script.js"></script>
</head>
<body>
    <div class="container-fluid position-relative d-flex p-0">
        <!-- Tạo hiệu ứng load... khi bắt đâu vào -->
        <div id="spinner"  class="show bg-dark position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <span class="sr-only text-primary me-2">Đang tải dữ liệu</span>
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status"></div>
        </div>
        <!-- Kết thúc hiệu ứng bắt đầu vào -->

        <!-- Tạo Sidebar Start -->
        <div class="sidebar pe-0">
            <nav class="navbar">
                <a href="#" class="navbar-brand mx-4 mb-3">
                    <h3 class="text-primary">
                        <img class="rounded-circle me-lg-2" src="../img/icons8-kali-linux-100.png" alt="" style="width: 40px; height: 40px;">Multi-utility</h3>
                </a>

                <div class="navbar-nav w-100 mt-3">
                    <a href="Home.html" class="nav-item nav-link active"><i class="fa-solid fa-cloud-sun-rain"></i> <span class="mx-2">Thời tiết</span></a>
                    <a href="Time.html" class="nav-item nav-link"><i class="fa-solid fa-calendar"></i> <span class="mx-2">Lịch</span></a>
                    <a href="AlarmClock.html" class="nav-item nav-link"><i class="fa-regular fa-bell"></i> <span class="mx-2">Báo thức</span></a>
                </div>
            </nav>
        </div>
        <!-- Kết thúc Sidebar Start -->
        
        <!-- Phần nội dung chính -->
        <div class="content">
            <!-- Thanh điều hướng phía bên trên -->
            <nav class="navbar navbar-expand bg-secondary navbar-dark sticky-top px-4 py-2">
                <a href="#" class="navbar-brand d-flex d-lg-none me-4">
                    <h2 class="text-primary mb-0"><i class="fa-solid fa-hand-holding-seedling"></i></h2>
                </a>
                <a href="#" class="sidebar-toggler flex-shrink-0">
                    <i class="fa fa-bars"></i>
                </a>
                <div class="navbar-nav align-items-center ms-auto">
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            <img class="rounded-circle me-lg-2" src="../img/icons8-kali-linux-100.png" alt="" style="width: 40px; height: 40px;">
                            <span class="d-none d-lg-inline-flex">Kali Linux</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                            <a href="#" class="dropdown-item">Thông tin cá nhân</a>
                            <a href="#" class="dropdown-item">Đăng xuất</a>
                        </div>
                    </div>
                </div>
            </nav>
            <!-- Kết thúc phần của thanh điều hướng -->

            <!-- Bắt đầu khung nội dung thay đổi -->
            <div class="container-fluid pt-4 px-4" id="containter">
                <div class="row g-4">
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa-solid fa-earth-americas fa-3x change-icon"></i>
                            <div class="ms-3">
                                <p class="mb-2">Khu vực</p>
                                <h6 class="mb-0">
                                    <select class="form-select form-select-sm mb-3" id="city" aria-label=".form-select-sm" onchange="Change_Values(this)">
                                        <option value="Hà Nội">Thành phố Hà Nội</option>
                                        <option value="Hà Giang">Tỉnh Hà Giang</option>
                                        <option value="Cao Bằng">Tỉnh Cao Bằng</option>
                                        <option value="Bắc Kạn">Tỉnh Bắc Kạn</option>
                                        <option value="Tuyên Quang">Tỉnh Tuyên Quang</option>
                                        <option value="Lào Cai">Tỉnh Lào Cai</option>
                                        <option value="Lai Châu">Tỉnh Điện Biên</option>
                                        <option value="Lai Châu">Tỉnh Lai Châu</option>
                                        <option value="Sơn La">Tỉnh Sơn La</option>
                                        <option value="Yên Bái">Tỉnh Yên Bái</option>
                                        <option value="Hòa Bình">Tỉnh Hoà Bình</option>
                                        <option value="Thái Nguyên">Tỉnh Thái Nguyên</option>
                                        <option value="Lạng Sơn">Tỉnh Lạng Sơn</option>
                                        <option value="Tỉnh Quảng Ninh">Tỉnh Quảng Ninh</option>
                                        <option value="Tỉnh Bắc Giang">Tỉnh Bắc Giang</option>
                                        <option value="Tỉnh Phú Thọ">Tỉnh Phú Thọ</option>
                                        <option value="Tỉnh Vĩnh Phúc">Tỉnh Vĩnh Phúc</option>
                                        <option value="Tỉnh Bắc Ninh">Tỉnh Bắc Ninh</option>
                                        <option value="Tỉnh Hải Dương">Tỉnh Hải Dương</option>
                                        <option value="Thành phố Hải Phòng">Thành phố Hải Phòng</option>
                                        <option value="Tỉnh Hưng Yên">Tỉnh Hưng Yên</option>
                                        <option value="Tỉnh Thái Bình">Tỉnh Thái Bình</option>
                                        <option value="Tỉnh Hà Nam">Tỉnh Hà Nam</option>
                                        <option value="Nam Định">Tỉnh Nam Định</option>
                                        <option value="Ninh Bình">Tỉnh Ninh Bình</option>
                                        <option value="Thanh Hóa">Tỉnh Thanh Hóa</option>
                                        <option value="Tỉnh Nghệ An">Tỉnh Nghệ An</option>
                                        <option value="Hà Tĩnh">Tỉnh Hà Tĩnh</option>
                                        <option value="Tỉnh Quảng Bình">Tỉnh Quảng Bình</option>
                                        <option value="Quảng Trị">Tỉnh Quảng Trị</option>
                                        <option value="Huế">Tỉnh Thừa Thiên Huế</option>
                                        <option value="Đà Nẵng">Thành phố Đà Nẵng</option>
                                        <option value="Tỉnh Quảng Nam">Tỉnh Quảng Nam</option>
                                        <option value="Tỉnh Quảng Ngãi">Tỉnh Quảng Ngãi</option>
                                        <option value="Bình Định">Tỉnh Bình Định</option>
                                        <option value="Tỉnh Phú Yên">Tỉnh Phú Yên</option>
                                        <option value="Khánh Hòa">Tỉnh Khánh Hòa</option>
                                        <option value="Tỉnh Ninh Thuận">Tỉnh Ninh Thuận</option>
                                        <option value="Tỉnh Bình Thuận">Tỉnh Bình Thuận</option>
                                        <option value="Kon Tum">Tỉnh Kon Tum</option>
                                        <option value="Gia Lai">Tỉnh Gia Lai</option>
                                        <option value="Gia Lai">Tỉnh Đắk Lắk</option>
                                        <option value="Buôn Ma Thuột">Tỉnh Đắk Nông</option>
                                        <option value="Hải Phòng">Tỉnh Lâm Đồng</option>
                                        <option value="Tỉnh Bình Phước">Tỉnh Bình Phước</option>
                                        <option value="Tỉnh Tây Ninh">Tỉnh Tây Ninh</option>
                                        <option value="Tỉnh Bình Dương">Tỉnh Bình Dương</option>
                                        <option value="Biên Hòa">Tỉnh Đồng Nai</option>
                                        <option value="Quảng Ngãi">Tỉnh Bà Rịa - Vũng Tàu</option>
                                        <option value="Thành phố Hồ Chí Minh">Thành phố Hồ Chí Minh</option>
                                        <option value="Long An">Tỉnh Long An</option>
                                        <option value="Tỉnh Tiền Giang">Tỉnh Tiền Giang</option>
                                        <option value="Tỉnh Bến Tre">Tỉnh Bến Tre</option>
                                        <option value="Tỉnh Trà Vinh">Tỉnh Trà Vinh</option>
                                        <option value="Vĩnh Long">Tỉnh Vĩnh Long</option>
                                        <option value="Tỉnh Nghệ An">Tỉnh Đồng Tháp</option>
                                        <option value="An Giang">Tỉnh An Giang</option>
                                        <option value="Tỉnh Quảng Bình">Tỉnh Kiên Giang</option>
                                        <option value="Cần Thơ">Thành phố Cần Thơ</option>
                                        <option value="An Giang">Tỉnh Hậu Giang</option>
                                        <option value="Sóc Trăng">Tỉnh Sóc Trăng</option>
                                        <option value="Bạc Liêu">Tỉnh Bạc Liêu</option>
                                        <option value="Cà Mau">Tỉnh Cà Mau</option>
                                    </select>
                                </h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fas fa-temperature-low fa-3x change-icon"></i>
                            <div class="ms-3">
                                <p class="mb-2">Nhiệt độ</p>
                                <h6 class="mb-0"><span id="NhietDo"></span>&deg;C</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fas fa-tint fa-3x change-icon"></i>
                            <div class="ms-3">
                                <p class="mb-2">Tốc độ gió</p>
                                <h6 class="mb-0"><span id="TocDoGio"></span>km/h</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa-solid fa-cloud fa-3x change-icon"></i>
                            <div class="ms-3">
                                <p class="mb-2">Trạng thái thời tiết</p>
                                <h6 class="mb-0"><span id="TrangThaiThoiTiet"></span></h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Kết thúc khung nội dung thay đổi -->

            <!-- Biểu đồ thông tin -->
            <div class="container-fluid pt-4 px-4">
                <div class="col-17">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Thời tiết <span>/Theo ngày</span></h5>
                            <div id="reportsChart"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Kết thúc phần biểu đồ -->

            <!-- Tạo thanh Footer -->
            <div class="container-fluid pt-4 px-4">
                <div class="bg-secondary rounded-top p-4 text-center justify-content-center">
                    <div class="text-center justify-content-center">
                        Copyright &copy; Phạm Sỹ Quang
                        <br>
                        Version: <span id="Day"></span>/<span id="Month"></span>/<span id="Year"></span> <span id="Time"></span>
                    </div>
                </div>
            </div>
            <!-- Kết thúc thanh Footer -->
        </div>
        <!-- Kết thúc nội dung chính -->
    </div>
</body>
</html>